table, td, th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    padding: 5px;
}

h1 {
    margin-bottom: 0;
}

label {
    margin-right: 10px;
}

h2.table {
    margin-top: 0;
    text-align: center;
}

div.table {
    height: auto;
    width: 1600px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;

    display: block;
}

.mainContainer {
    height: auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
}

